<section class=" p-5 text-center">
    <div class="container-fluid ">
        <!-- products -->
        <div class="row">
            <div *ngFor="let product of products " class="col-md-4  mb-3">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="{{product.image}}" alt="{{product.productName}}">
                    <div class="card-body">
                        <h4 class="card-title">{{product.productName}}</h4>
                        <p class="card-text">{{product.description}}</p>
                        <button type="button" class="btn btn-primary" (click)="renderPrice($event,product)">See
                            price</button>
                    </div>
                    <div id={{product.productName}} style="display: none;" class="card-footer mt-3">
                        <p id="card-bottom3"> </p>
                    </div>
                </div>
            </div>
        </div>



        <!-- form to add product -->
        <form (submit)="addProduct($event)">
            <div class="mb-3 mt-3">
              <label for="product" class="form-label">product name:</label>
              <input type="text" class="form-control" id="productName" placeholder="Enter product name" name="product">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">price:</label>
              <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description:</label>
                <input type="text" class="form-control" id="description" placeholder="Enter description" name="description">
              </div>
            <div class="form-check mb-3">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</section>