form{
    border-style: double;
    border-color: blueviolet;
}
button{
    margin-bottom: 20px;
}
.container-fluid {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;    /* Footer height */

}